/* pagina de login */
.login-body {
  margin: 0;
  height: 100vh;
  background: url("https://assets.nflxext.com/ffe/siteui/vlv3/9f6c9e5d-1b5c-4f6d-8f2e-d5c9f0f8b3e5/cover.jpg")
    no-repeat center center;
  background-size: cover;
  font-family: Arial, sans-serif;
}

/* Overlay escuro */
.login-body {
  margin: 0;
  height: 100vh;

  background: url("../css/img/fundo-login.png") no-repeat center center;
  background-size: cover;
}
.login-body::before {
  background: url("img/fundo-login.png") no-repeat center center;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

/* Logo */
.logo {
  position: absolute;
  top: 20px;
  left: 40px;
  color: #e50914;
  font-size: 70px;
  font-weight: bold;
  z-index: 2;
  font-family: 'Bebas Neue', sans-serif;
  font-style: normal;
}

.logo-svg {
    position: absolute;
    top: 20px;
    left: 40px;
    width: 400px;
}

/* Estilo da fonte */
.logo-text {
    fill: #e50914;
    font-size: 60px;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 4px;
    filter: drop-shadow(0 4px 6px rgba(0,0,0,0.8));
}
/* Centralização */
.login-wrapper {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Card */
.login-card {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 60px 50px;
  width: 380px;
  height: 530px;
  border-radius: 4px;
  color: white;
}

/* Título */
.login-card h2 {
  margin-bottom: 30px;
}

/* Inputs */
.input-netflix {
  width: 100%;
  height: 50px;
  margin-bottom: 15px;
  background: #333;
  border: none;
  padding: 10px;
  color: white;
  border-radius: 4px;
}

.input-netflix::placeholder {
  color: #aaa;
}

.input-netflix:focus {
  outline: none;
  background: #444;
}

/* Botão */
.btn-netflix {
  width: 100%;
  height: 50px;
  background: #e50914;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  margin-top: 10px;
}

.btn-netflix:hover {
  background: #f6121d;
}

/* Opções */
.login-options {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  margin-top: 10px;
  color: #b3b3b3;
}

.login-options a {
  color: #b3b3b3;
  text-decoration: none;
}

/* Rodapé */
.login-footer {
  margin-top: 10px;
  color: #737373;
  font-size: 14px;
}

.login-footer a {
  color: white;
  text-decoration: none;
}
.icone-facebook {
  margin-top: 90px;
}
/* pagina de registro */
.register-body {
  background: linear-gradient(to right, #000, #141414);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.register-container {
  background: rgba(0, 0, 0, 0.8);
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
}
.register-container h1 {
  color: #e50914;
}
.register-container input {
  width: 93%;
  padding: 10px;
  margin: 10px 0;
  background: #333;
  border: none;
  color: white;
  border-radius: 5px;
}
.register-container button {
  width: 100%;
  padding: 10px;
  background: #e50914;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
.register-container button:hover {
  background: #f40612;
}
.register-error {
  color: #e50914;
  margin-top: 10px;
}
